<div class="bg-lightgray">
  <div class="container bg-lightgray">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Secret Pin Generator</h1>
        <p class="lead">
          This is a modified pin generator that allows you to click and receive
          a random x-digit code.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ card.imgSrc }}"
            alt="{{ card.imgAlt }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.body }}</p>
            <a
              href="{{ card.cta1Href }}"
              class="btn btn-primary btn-block"
              title="{{ card.cta1Alt }}"
              >{{ card.cta1 }}</a
            >
            <a
              href="{{ card.cta2Href }}"
              class="btn btn-secondary btn-block"
              [title]="card.cta2Alt"
              >{{ card.cta2 }}</a
            >
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Click one of the following to begin:</h5>
            <p class="card-text">{{ card.body }}</p>
            <a
              href="{{ card.cta1Href }}"
              class="btn btn-primary btn-block"
              title="{{ card.cta1Alt }}"
            >
              {{ card.cta1 }}</a
            >
            <a
              href="{{ card.cta2Href }}"
              class="btn btn-secondary btn-block"
              [title]="card.cta2Alt"
              >{{ card.cta2 }}</a
            >
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ card.imgSrc }}"
            alt="{{ card.imgAlt }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.body }}</p>
            <a
              href="{{ card.cta1Href }}"
              class="btn btn-primary btn-block"
              title="{{ card.cta1Alt }}"
              >{{ card.cta1 }}</a
            >
            <a
              href="{{ card.cta2Href }}"
              class="btn btn-secondary btn-block"
              [title]="card.cta2Alt"
              >{{ card.cta2 }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
